body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

/* .navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
} */

/* .navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
} */

.navbar .navbar-nav .nav-link {
  /* font-size: 1.1em; */
  position: relative;
}
.navbar .navbar-nav .nav-link:hover {
  color: #a5f0fd;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;

}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}


.hero-image {
  display: flex;
  background-image: url("../images/hero.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* border: 1px solid black; */
  
}

